#blog .contenedor {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blog article {
  margin: 0, 0;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  
}
#blog .txt_img {  
  background:none; 
  width: 100%;
  height: 100%;
  z-index: -1;
  color: rgb(246, 250, 248);
  font-size: 1.8em;
  opacity:1;
  position: absolute;
  
 display: flex;
 justify-content: center;
 align-items: center;
}


#blog .txt_img h3 {
  background: none;
}



#blog .wave {
  background-color: rgb(55, 0, 255);
  
}



#blog .wave:hover {
  box-shadow: 0 0 10px #9f21f3, 0 0 40px rgb(55, 0, 255);
  transition: 0.5s;
}

#blog .glitch {
  background-color: rgba(0, 110, 255, 1);
}
#blog .glitch:hover {
  box-shadow: 0 0 100px #9f21f3, 0 0 40px rgba(0, 110, 255, 1);
  transition: 0.5s;
}

#blog .fascinus {
  background-color: rgba(255, 60, 0, 0.527);
}
#blog .fascinus:hover {
  box-shadow: 0 0 10px #9f21f3, 0 0 200px rgba(0, 255, 170, 0.527);
  transition: 0.5s;
}

#blog .porn_div {
  background-color: rgb(255, 0, 106);
}

#blog .porn_div img {
  width: 100%;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  transform: translateY(50px);
}

#blog .porn_div:hover {
  box-shadow: 0 0 10px #9f21f3, 0 0 40px #f32160;
  transition: 0.5s;
}

#blog .origen {
  background-color: rgba(250, 113, 209, 0.685);
 
}
#blog .origen:hover {
  box-shadow: 0 0 40px rgba(245, 113, 250, 0.685);
  transition: 0.5s;
}

#blog .desaparicion {
  background-color: rgba(0, 0, 0, 1);
}
#blog .desaparicion:hover {
  box-shadow: 0 0 10px #9f21f3, 0 0 40px #f32160;
  transition: 0.5s;
}

#blog .pop {
  background-color: rgba(250, 229, 113, 0.685);
 
}
#blog .pop:hover {
  box-shadow: 0 0 40px rgba(250, 229, 113, 0.685);
  transition: 0.5s;
}

#blog .puerta {
  background-color: rgba(8, 0, 3, 0.74);
 
}
#blog .puerta:hover {
  box-shadow: 0 0 40px rgba(245, 4, 77, 0.685);
  transition: 0.5s;
}

#blog .sound1 {
  background-color: rgb(252, 3, 94);
 
}
#blog .sound1:hover {
  box-shadow: 0 0 40px rgba(245, 4, 77, 0.685);
  transition: 0.5s;
}

#blog img {
  width: 100%;
  max-width: 280px;
  cursor: pointer;
}

 #blog article img:hover {
  opacity: 0.5;
  -webkit-transition: opacity 5000ms;
  -moz-transition: opacity 5000ms;
  -o-transition: opacity 5000ms;
  -ms-transition: opacity 5000ms;
  transition: opacity 1500ms;

    
  }

/*porno glitch*/
#blog iframe {
  width: 100%;
  height: auto;
  max-width: 250px; 
  padding: 0;
  margin-bottom: 1em;
 
}
.gif{
  position: absolute;
  align-items: center;
}
.vid_liga{
  margin-bottom: auto;
}
/*porno divino*/

#blog .Pd3 img {
  width: 100%;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  transform: translateY(50px);
  background-color: purple;
}

#blog .Pd1 img {
  width: 100%;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  transform: translateY(50px);
}

#blog .Pd5 img {
  width: 100%;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  transform: translateY(50px);
}

#blog .Pd6 img {
  width: 100%;
  max-width: 280px;
  height: auto;
  overflow: hidden;
  transform: translateY(50px);
}