/*IMPORTAR LAS REFERENCIAS, TANTO DE LOS FONTS, COMO DE LAS PAGINAS A Los archivos css*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Play:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap");
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(about.css);
@import url(home.css);



/* EL * SIRVE PARA DAR LOS ATRIBUTOS DE FORMA GENERAL AL DOC*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black;   <-- quítalo */
}

header {
  background-color: rgb(10, 10, 10);
  width: 100%;
  height: 58px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .contenedor {
  border: 5px;
  padding: 1em 2em;
  background-color: rgba(100, 30, 30,0 );
}

.contenedor {
  padding: 1em 2em;
  background-color: none;

  ;
}

.contenedor h1 {
  background: none;
  padding: 0.5em;
  color: white;
  margin-top: auto;
  float: left;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 0em;
  border-style: hidden;
  text-align: center;
}

.contenedor h1:hover {
  color: #fd054f;
  text-shadow: 0 0 10px #9f21f3, 0 0 40px #f32160;
}

.contenedor h3 {
  background: none;
  padding: 0.5em;
  color: white;
  margin-top: auto;
  float: left;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 0em;
  border-style: hidden;
  text-align: center;
}

.contenedor h3:hover {
  color: #866bff;
  text-shadow: 0 0 10px #9f21f3, 0 0 40px #f32160;
}



.contenedor .about{
	color: #fd054f;
  text-shadow: 0 0 10px #9f21f3, 0 0 40px #f32160;
}

.contenedor h2{

  padding-top: 4em;
}

.contenedor p {
  padding: 0em 0em;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

header .contenedor {
  font-size: 11px;
  height: 50px;
}

body::-webkit-scrollbar {
  width: 7px;
  background: none;
}

body::-webkit-scrollbar-thumb {
  width: 7px;
  background: linear-gradient(
    rgba(89, 0, 255, 0.1),
    rgb(255, 0, 157),
    rgba(89, 0, 255, 0.2),
    rgba(89, 0, 255, 0)
  );

  border-radius: 2em;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

.contenedor {
 
  font-size: 11px;
  width: 98%;
  margin: auto;
  margin-top: 0em;
}
.contenedor  {
color: white;
}

.cont .h3 {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
  font-size: 1em;

}

section {
  width: 100%;
  margin-bottom: 25px;
}

.piePagina {
  background-position: 0em;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: center;
  
}

.piePagina .copy {
  color: gray;
  font-size: 11px;
  justify-content: center;
}

.sociales {
  width: 100%;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.sociales a {
  color: gray;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .contenedor {
    width: 1000px;
  }


  .contenedor p {
    padding-top: 4em;
    font-size: 1.3em;
  }
  

}

.contenedor p {
  padding-top: 1em;
  font-size: 1.1em;
}

.texto {
  font-size: 13px;
  margin: auto;
  margin-top: 65px;
  max-width: 90%;
}

/*PONO GLICHT*/
.container{
  padding: 1em;
  margin-top: 0;
  background:none;
}
.col-md-4{
 
  cursor: pointer;
  
  
  background: none;
  border:5px;
}
.col-md-4:hover .play-btn{
  opacity: 1;
} 
.img-fluid {
width: 100%;

}
.play-btn {
  width: 50;
  position: relative;
  top: -50%;
  transition: 0.5s;
  opacity: 0;
 background: none;
}

/*PONO GLICHT play */
.modal {
  
  width: 100%;
background:none;

}

.modal-dialog{
  width: 90%;
  max-width: 1200px;
  background:none;
  justify-content: center;
  
}
.modal-content {
  width: 90%;
  background:none;
  align-items: center;
}
.modal-body{
  background: none;
  
}
 .porn_glitch_video{
  
  width: auto;
  max-width: 100%;
  
}
.close-modal_v{

 background-color: rgba(0, 0, 0   , 0.8);
 font-size: 1.8em;
 color: #f32160;
 width: 2em;
 height: 2em;
 line-height: 2em;
 text-align: center;
 border-radius: 50%;
 top: 0;
 right: 0;
 position: absolute;
 cursor: pointer;
}

 .galeria_videos{
  
  width: 90%;
  max-width: 1000px;
  background-color: chartreuse;
  margin: auto;
 
  
}
.reproduciendo  {
  
  width: 100%;
  height: auto;
  background-color: darkblue;
  
  
}

.galery {
  background: none;
  margin: auto;
  width: 100%;
  height: auto;
 padding: auto; 
 z-index: 30;
  
  
}

.carrusel_video{
  position: inherit;
  width: 100%;
  height: auto;
  background-color:red;
  padding:0,0;
  margin: 0,0;
  margin-top: 0em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.carrusel{
  display: flex;
  z-index: 0;
  background: rgb(44, 214, 28);
  padding: 5PX;
  width: 195px;
  height: AUTO;

  
}
.carrusel_1 {
  display: flex;
  z-index: 10;
  background: rgb(44, 0, 28);
  padding: 5PX;
  width: 195px;
  height: AUTO;
 
  
}
.frame{
  width: 100%;
}

.video-js {
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 5em;
  left: 50%;
  transform: translateX(-50%);

}

.gif {
  position: relative;
  width: 90%;
  padding-top: 2.5em;
padding-bottom: 0em;
  margin: auto;
  background: none;
  max-width: 1520;
  
}
.gif img {
  width: 90%;
  height: auto;
  display:block;
  margin:auto;
  background: black;
  
}

/*Portada_porn_divino*/

.portada {
  position: relative;
  max-width:  90%;
  height: auto;
  margin-top: 5em;
  left: 50%;
  transform: translateX(-50%);
}

/*Porn_divino lightBox*/
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index:100 ;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox-container{
background-color: rgba(228, 12, 12, 0);;
  position: relative;
  width: auto;
  height: auto;
  max-width: 1000px;
  margin: auto ;
  padding: 0;
 align-items: center;


}
.lightbox-container img {
  background:rgba(224, 21, 21, 0);
  width: auto;
  max-width: 1000px;
  height: auto;
  border-radius:20px ;
  padding-bottom: 1em;
  display: block;
  margin: auto;

}

@media (max-width: 969px){
  .lightbox-container img {

    width: 90%;
    max-width: 1000px;
    height: auto;
    border-radius:20px ;
    padding-bottom: 1em;
    display: block;
    margin: auto;
  
  }

}



@media (min-width: 1981px){
 
  .lightbox-container img {

    width: 90%;
    height: auto;
    border-radius:20px ;
    padding-bottom: 1em;
    display: block;
    margin: auto;
  
  }
}


.close-modal{
   size: 2em;
  background-color: rgba(0, 0, 0   , 0.7);
  color: #f32160;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}

figcaption{
  background:rgba(224, 21, 21, 0);
}

.lightbox-description{
background:rgba(224, 21, 21, 0);
font-size: 0.9em;
color: aliceblue;
text-align: center;
}


.nav__button_prev{
background-color:rgba(204, 16, 16, 0);
 color: rgb(222, 231, 231,0);
 font-size: 2em;
 text-decoration:none;
 width: 100%;
   height: 100%;
 left:-50%;
 float: left;
 position: absolute;
 text-align: center;
 display: block;
 align-items: center;
 font-style:normal;
 


}



.nav__button_next{
  background-color: rgba(179, 14, 143,0);
   color: rgb(222, 231, 231,0);
   font-size: 2em;
   width: 100%;
   height: 100%;
   right:-50%;
   float: right;
   padding-right: 0;
   position: absolute;
   display: flex;
   align-items: center;
   text-decoration:none;
  }



/*Porn_Sound*/
.sound{
  position: relative;
  max-width:  90%;
  height: auto;
  margin-top: 5em;


}

/*Desaparición*/

 .desaparicion_vid{
  position: relative;
  width: auto;
  height:200px;
  margin-top: 0em;
 

}

/*autorretarto Imposible*/

.texto-maquina {
  max-width: 900px;
  margin: auto;
  padding: 2em;
  font-family: 'Calibri', serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
}

.texto-maquina p {
  margin-bottom: 1.5em;
}

.texto-maquina em {
  font-style: italic;
}

.texto-maquina strong {
  color: #ffffff;
  font-weight: bold;
}

.cita-bloque {
  background-color: #1e1e1e;
  border-left: 4px solid #cc7438;
  padding: 1em;
  margin: 2em 0;
  font-style: italic;
  color: #ffd980;
  font-size: 0.95em;
}

.cita-linea {
  color: #f2c84b;
  font-style: italic;
}

.autor-cita {
  color: #e6c76f;
  font-size: 0.85em;
  font-style: normal;
}

video {
  display: block;
  margin: 2em auto;
  max-width: 100%;
  border: 2px solid #333;
  border-radius: 8px;
}



/* Imagen miniatura */
.zoomable {
  cursor: zoom-in;
  transition: transform 0.2s ease;
  max-width: 100%;
  border-radius: 6px;
}



/*videos youtube*/
.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*footer*/

.sociales a {
  text-decoration: none;
  margin: 0 10px;
}

.sociales i {
  font-size: 1em;
  color: #ffffff91;
  transition: color 0.3s ease;
}

.sociales i:hover {
  color: #7f00f7; /* Cambia a morado al pasar el mouse */
  text-shadow: 0 0 10px #f505fd, 0 0 10px #d405fd, 0 0 10px #fd051a;
}

.copy {
  text-align: center;
}

