#menu-bar {
  display: none;
}

header label {
  background: none;
  color: rgba(255, 255, 255, 0.7);
  float: right;
  padding-top: 0;
  font-size: 18px;
  font-style: oblique;
  margin: 0;
  cursor: pointer;
}
.contenedor a:hover {
  background: none;
  color: rgb(252, 250, 252);
}
.menu {
  font-size: 15px;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(209, 99, 253, 0.2);
  transition: all 1s;
  transform: translate(-100%);
}

.menu a {
  display: block;
  color: rgb(250, 250, 250);
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}



#menu-bar:checked ~ .menu {
  transform: translate(0%);
}

@media (min-width: 1024px) {
  .menu {
    top: 0em;
    background: none;
    float: top;
    position: static;
    width: auto;
    height: auto;
    transform: translate(0%);
    float: right;
    display: flex;
  }
  .menu a {
    background: none;
    display: block;
    color: rgb(232, 232, 233);
    border-bottom: none;
    height: 10;
  }
  .menu a:hover {
    background: none;
    color: rgb(255, 0, 191);
	transform: scale(120%);
	text-shadow: 0 0 10px #f505fd, 0 0 40px #d405fd, 0 0 80px #fd051a;
	
  }

  
  header label {
    display: none;
  }
}


