
.icon-menu-outline:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-tumbler:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */